
div#main_r{
	padding: inherit;
}


div#contingut_dreta{
	margin: auto;
	background: rgba(171, 171, 171, 0.3)!important;
	border-radius: 10px;
	margin-top: 0px;
}

div#contingut_dreta_preu{
	margin: auto;
	margin-top: 10px;
}

div#slider{
	padding: inherit;
	margin-bottom: 4px;
	border-width: 2px;
}
div#carousel{
	margin-bottom: 10px;
	border-width: 2px;
}
button#preu{
	width: 100%;
	font-size: 25px;
}
h2#titol{
	color: #337AB7;
}

h4#val{
	color: #337AB7;
	margin: 0px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
div#estrelles{
	background: rgba(171, 171, 171, 0.3)!important;
	border-radius: 10px;
	padding: 5px;
}

hr{
  color: #337AB7;
  background-color: #337AB7;
  height: 2px;
  margin-bottom: 10px;
  margin-top: 0px;
}

ul#lista{
	padding: 0px;
	list-style-type: none;
}

div#descripcio{
	margin-top: 10px;
	height: 100px;
}

div#pad{
	padding: 10px;
	width: 100%;
}

div#messages{
	position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}

div#map{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}


div#comentari{
	margin: auto;
	background: rgba(171, 171, 171, 0.3)!important;
	border-radius: 10px;
	margin-top: 0px;
}

hr#comment{
  background-color: grey;
  height: 1px;
  margin-top: 5px;
  margin-bottom: 10px;
}