
div#main_r{
	padding: inherit;
}

div#contingut{
}

div#contingut_dreta{
	background-color: pink;
	min-height: 400px;
	margin-top: 0px;
}

div#slider{
	padding: inherit;
	margin-bottom: 3px;
}
div#carousel{
	margin-bottom: 10px;
}